<h1> Furry Trails </h1>

<h5> Walks for your furry friend at your fingertips </h5>



<button type="button" class="btn btn-outline-warning"><%= link_to "Log In", login_path %></button>
<button type="button" class="btn btn-outline-warning"><%= link_to "Sign Up", signup_path %></button>