<section class="hero is-link is-fullheight-with-navbar">
  <div class='homepage'>
  <div class='homepage-img'>
    <img width=1500 src='https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1120w,f_auto,q_auto:best/newscms/2020_28/1587661/dogs-age-years-kb-inline-200707.jpg'>
  </div>
  <div class='homepage-head' style="text-align: center">
    <p class="title">
      Furry Trails
    </p>
    <p class="subtitle">
      Walks for your furry friends at your fingertips
    </p>
      <a href="/signup" class="button is-info">
        <strong>Sign up</strong>
      </a>
      <a href="/login"class="button is-light">
        Log in
      </a>
  </div>
  </div>
</section>