<section class="hero is-link is-fullheight-with-navbar">
  <div class='homepage'>
  <div class='homepage-img'>
    <img src='https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/127555753_3408728645870836_7538463310024692894_n.png?_nc_cat=109&ccb=1-3&_nc_sid=973b4a&_nc_ohc=LdqUG69GZhoAX9pWYOu&_nc_ht=scontent-lga3-2.xx&oh=d237c52cee480a50478c2345b89102ca&oe=60F51E76'>
  </div>
  <div class='homepage-head' style="text-align: center">
    <p class="title">
      Furry Trails
    </p>
    <p class="subtitle">
      Walks for your furry friends at your fingertips
    </p>
      <a href="/signup" class="button is-info">
        <strong>Sign up</strong>
      </a>
      <a href="/login"class="button is-light">
        Log in
      </a>
  </div>
  </div>
</section>