<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="">
      <p class="title">
        Furry Trails
      </p>
      <p class="subtitle">
        Walks for your furry friends at your fingertips
      </p>
    </div>
  </div>
</section>