<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
        My Dogs
    </p>
  </div>
</section>
<div class="message is-link">
<div class="message-body">
<% if @dogs.empty? %>
<div class="container">
    <p class="subtitle"> It looks like you don't have any Furry Friends on your profile yet. </p>
    <p class="subtitle"> Click the "Add Dog" button below to create a profile for your Furry Friend! </p>
<% else %>
    <p class="subtitle"> Here is a list of your Furry Friends </p>
    <ul>
        <% @dogs.each do |dog| %>
            <p class="subtitle is-5"><strong><%= link_to "#{dog.name.capitalize}", dog_path(dog) %></strong></p>
        <% end %>
    </ul>
<% end %>
<br><br>
<%= link_to "Add Dog", new_dog_path, class: "button is-link is-small"%> 