<% if obj.try(:errors).try(:any?) %>
  <div class="notification is-danger is-light">
    <ul>
      <% obj.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>